/*#game {
    align-content: center;
}

h1 {color:blue; font-size:30px; font-family: "Arial Verdana:;"}

neither of these worked(?)*/

/*#game {
<img src="assets/images/Psychic_Juju.png" width="50%" height="50%"
}

